@model IEnumerable<Movies>

<h2>Products</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Release Date</th>
        <th>Price</th>
        <th>Rating</th>
        
    </tr>

    @foreach (var movies in Model)
    {
        <tr>
            <td><a href=/Movies/ViewMovie/@movies.ID>@movies.ID</a></td>
            <td>@movies.Name</td>
            <td>@movies.ReleaseDate</td>
            <td>@movies.Price</td>
            <td>@movies.Rating</td>
            
        </tr>

    }
</table>

